
<mat-toolbar>
    <span style="padding: 5px;"><img src="/assets/icon.jpg" width="150px" height="45px" ></span>
    
    

    <a mat-button style="padding: 40px;"> <mat-icon>home</mat-icon> &nbsp;Home</a>
    <a mat-button style="padding: 40px;"><mat-icon>people</mat-icon>&nbsp;Trustees</a>
    <a mat-button style="padding: 40px;"><mat-icon>person</mat-icon>&nbsp;Professionals</a>
    <a mat-button style="padding: 40px;"><mat-icon>more_horiz</mat-icon>&nbsp;More</a>

    <div class="spacer"></div>
    <a style="padding: 15px;"><input type="text" style="border: none;padding: 10px;" height="50px"><mat-icon >search</mat-icon></a>

    <a mat-raised-button color="warn" style="width: 100px;"><mat-icon>mail</mat-icon>Invite</a>
    <a mat-button style="padding: 15px;margin-left: auto;"><img src="/assets/profilepic.jpg" width="40px" height="40px" ></a>
  </mat-toolbar>

  


  


