<div class="form">
  <h2 id="registration">User Input </h2>

  <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
    <div>
      <div>
        <label for="name">Name</label>
        <input type="text" id="name" formControlName="name">
      </div>
      <div>
        <label for="email">Domain</label>
        <input type="email" id="email" formControlName="domain">
      </div>
      <div>
        <small style="color:red" *ngIf="reactiveForm.get('domain').invalid && reactiveForm.get('domain').touched"> The
          email you have entered is not valid</small>
      </div>

      <div>
        <label for="gender">Gender</label> <br>
        <!-- <input type="text" id="gender" formControlName = "gender">  -->
        <mat-radio-group aria-label="Gender" id="gender" formControlName="gender">
          <mat-radio-button value="Male">Male</mat-radio-button>&nbsp;&nbsp;&nbsp;
          <mat-radio-button value="Female">Female</mat-radio-button>
        </mat-radio-group>
      </div>
      <div>
        <label for="dob">Date of Birth</label> <br>
        <input type="date" id="dob" formControlName="dob">
      </div>

    </div>
    <div>

      <mat-label>Phone Number</mat-label><br>
      <span matPrefix>+91 &nbsp;</span>
      <input type="tel" matInput formControlName="phone">

    </div>

    <div>
      <label for="location">Location</label>
      <textarea formControlName="location" id="location">
    </textarea>
    </div>



    <div mat-dialog-actions>

      <button mat-button mat-dialog-close type="submit" value="Submit" id="btn">Submit</button>
    </div>